<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.customize.mapper.PageViewMapper">

  <resultMap type="PageView" id="PageViewResult">
    <result property="tableId" column="table_id"/>
    <result property="fieldId" column="field_id"/>
    <result property="isView" column="is_view"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <sql id="selectPageViewVo">
    select table_id, field_id, is_view, create_by, create_time, update_by, update_time
    from page_view
  </sql>

  <select id="selectPageViewList" parameterType="PageView" resultMap="PageViewResult">
    <include refid="selectPageViewVo"/>
    <where>
      <if test="isView != null  and isView != ''">and is_view = #{isView}</if>
    </where>
  </select>

  <select id="selectPageViewByTableId" parameterType="Long" resultMap="PageViewResult">
    <include refid="selectPageViewVo"/>
    where table_id = #{tableId}
  </select>

  <insert id="insertPageView" parameterType="PageView">
    insert into page_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">table_id,</if>
      <if test="fieldId != null">field_id,</if>
      <if test="isView != null">is_view,</if>
      <if test="createBy != null">create_by,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateBy != null">update_by,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">#{tableId},</if>
      <if test="fieldId != null">#{fieldId},</if>
      <if test="isView != null">#{isView},</if>
      <if test="createBy != null">#{createBy},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateBy != null">#{updateBy},</if>
      <if test="updateTime != null">#{updateTime},</if>
    </trim>
  </insert>

  <update id="updatePageView" parameterType="PageView">
    update page_view
    <trim prefix="SET" suffixOverrides=",">
      <if test="fieldId != null">field_id = #{fieldId},</if>
      <if test="isView != null">is_view = #{isView},</if>
      <if test="createBy != null">create_by = #{createBy},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="updateBy != null">update_by = #{updateBy},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
    </trim>
    where table_id = #{tableId}
  </update>

  <delete id="deletePageViewByTableId" parameterType="Long">
    delete
    from page_view
    where table_id = #{tableId}
  </delete>

  <delete id="deletePageViewByTableIds" parameterType="String">
    delete from page_view where table_id in
    <foreach item="tableId" collection="array" open="(" separator="," close=")">
      #{tableId}
    </foreach>
  </delete>

</mapper>