<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>table名称：</label>
                            <input type="text" name="tableName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">
                                <i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()">
                                <i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">

    const tableList = [[${tableList}]];
    const fieldTypes = [[${@dict.getType('field_type')}]];

    const prefix = ctx + "customize/table";

    const options = {
        url: prefix + "/list",
        createUrl: prefix + "/add",
        updateUrl: prefix + "/edit/{id}",
        removeUrl: prefix + "/remove",
        exportUrl: prefix + "/export",
        modalName: "【请填写功能名称】",
        columns: [{
            checkbox: true
        }, {
            field: 'tableId',
            title: 'table主键',
            visible: false
        }, {
            field: 'parentTableId',
            title: '父Table',
            formatter: function (value, row, index) {
                return $.table.selectDictLabel(tableList, row.parentTableId);
            }
        }, {
            field: 'tableName',
            title: 'Table名称',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="detail('` + row.tableId + `','` + row.tableName + `')">` + value + `</a>`;
            }
        }, {
            field: 'tableComment',
            title: 'Table描述'
        }, {
            field: 'tableType',
            title: 'Table类型',
            formatter: function (value, row, index) {
                return $.table.selectDictLabel(fieldTypes, value);
            }
        }, {
            field: 'tableStatus',
            title: 'Table状态'
        }, {
            title: 'Field',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="field('` + row.tableId + `','` + row.tableName + `')">Field</a>`;
            }
        }, {
            title: 'Function',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="functionJS('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'CallBack',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="callBack('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'Query',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="query('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'Button',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="button('` + row.tableId + `','` + row.tableName + `')">Button</a>`;
            }
        }, {
            title: 'List',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="list('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'Add',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="add('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'Edit',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="edit('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'View',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="view('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: 'Authority',
            formatter: function (value, row, index) {
                return `<a href="javascript:void(0)" onclick="authority('` + row.tableId + `','` + row.tableName + `')">Function</a>`;
            }
        }, {
            title: '操作',
            align: 'center',
            formatter: function (value, row, index) {
                var actions = [];
                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.tableId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.tableId + '\')"><i class="fa fa-remove"></i>删除</a>');
                return actions.join('');
            }
        }]
    };

    $(function () {
        $.table.init(options);
    });


    // 表格字段
    function field(tableId, tableName) {
        $.modal.openTab('表格【' + tableName + '】字段', ctx + 'customize/table-field/' + tableId);
    }

    // callBack
    function callBack(tableId, tableName) {
        $.modal.openTab('表格【' + tableName + '】字段', ctx + 'customize/table-field/' + tableId);
    }

    // functionJS
    function functionJS(tableId, tableName) {
        $.modal.openTab('表格【' + tableName + '】字段', ctx + 'customize/table-field/' + tableId);
    }

    // Add
    function add(tableId, tableName) {
        $.modal.openTab('表格【' + tableName + '】字段', ctx + 'customize/table-field/' + tableId);
    }

    // Edit
    function edit(tableId, tableName) {
        $.modal.openTab('表格【' + tableName + '】字段', ctx + 'customize/table-field/' + tableId);
    }
</script>
</body>
</html>