<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-button-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">Java字段名称：</label>
                <div class="col-sm-8">
                    <input name="javaField" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">DB字段名称：</label>
                <div class="col-sm-8">
                    <input name="dbField" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">按钮作用域：</label>
                <div class="col-sm-8">
                    <input name="buttonScope" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">按钮样式：</label>
                <div class="col-sm-8">
                    <input name="buttonClass" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">按钮权限：</label>
                <div class="col-sm-8">
                    <input name="buttonAuthority" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input name="sort" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "customize/button"
        $("#form-button-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-button-add').serialize());
            }
        }
    </script>
</body>
</html>